@using MVCCV.Models.Entity
@model List<TblYeteneklerim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{ string renk = ""; }
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Sosyal Medya</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            
                                <a href="/SosyalMedya/Ekle/" class="btn btn-info">Yeni Yetenek Ekle</a>
                           <br />
                            <table class="table table-bordered" style="margin-top:15px">
                                <thead>
                                    <tr>
                                        <th style="width: 10px">#</th>
                                        <th>Ad</th>
                                        <th>Link</th>
                                        <th style="width: 40px">Oranı</th>
                                        <th>İşlemler</th>
                                        </tr>
                                </thead>
                                <tbody>
                                    @foreach (var x in Model)
                                    {
                                        if(x.Oran <=40 && x.Oran>0)
                                        {
                                            renk = "progress-bar-striped btn-warning";
                                        }
                                        else if(x.Oran<=70 && x.Oran>40)
                                        {
                                            renk = "progress-bar-striped btn-info";
                                        }
                                        else if (x.Oran > 70)
                                        {
                                            renk = "progress-bar-striped btn-dark";
                                        }
                                    <tr>
                                        <td>@x.ID</td>
                                        <td>@x.Yetenek</td>
                                <td>
                                         <div class="progress progress-xs">
                                           <div class="@renk" style="width: @x.Oran%"></div>
                                         </div>
                                 </td>
                                        <td><span class="@renk">@x.Oran%</span></td>

                                        
                                        <td>
                                            <a href="/Yetenek/YetenekSil/@x.ID" class="btn btn-danger btn-sm">
                                                <i class="fas fa-trash"></i>
                                                Sil
                                            </a>
                                            <a href="/Yetenek/YetenekDuzenle/@x.ID" class="btn btn-primary btn-sm" style="margin-left:2px">
                                                <i class="fas fa-pencil-alt"></i>
                                                Düzenle
                                            </a>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>
</html>

