@model MVCCV.Models.Entity.TblEgitimlerim
    @{
        ViewBag.Title = "YeniYetenek";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    <br />

    <h4>Yeni Eğitim Bilgisi Sayfası</h4>
    <br />
    <form method="post">
        <label>Başlık</label>
        <input class="form-control" maxlength="100" type="text" name="BASLIK" placeholder="Başlık Giriniz..." />
        @Html.ValidationMessageFor(x => x.BASLIK, "", new { @style = "color:red" })
        <br />
        <label>Alt Başlık 1</label>
        <input class="form-control" maxlength="100" type="text" name="ALTBASLIK1" placeholder="Alt Başlık 1 Değerini Giriniz..." />
        @Html.ValidationMessageFor(x => x.ALTBASLIK1, "", new { @style = "color:red" })
        <br />
        <label>Alt Başlık 2</label>
        <input class="form-control" maxlength="100" type="text" name="ALTBASLIK2" placeholder="Alt Başlık 2 Değerini Giriniz..." />
        @Html.ValidationMessageFor(x => x.ALTBASLIK2, "", new { @style = "color:red" })
        <br />
        <label>GNO</label>
        <input class="form-control" maxlength="10" type="text" name="GNO" placeholder="Genel Not Ortalamasını Giriniz..." />
        @Html.ValidationMessageFor(x => x.GNO, "", new { @style = "color:red" })
        <br />
        <label>Eğitim Tarihi</label>
        <input class="form-control" maxlength="100" type="text" name="TARIH" placeholder="Eğitimin Tarih Aralığını Giriniz..."   />
        @Html.ValidationMessageFor(x => x.TARIH, "",new { @style = "color:red" })
        <br     />
        <br     />
        <button class="btn btn-primary">Yeni Eğitim Bilgisi Ekle</button>
    </form>

