@using MVCCV.Models.Entity
@model List<TblEgitimlerim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h2>Egitim Listesi</h2>
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Başlık</th>
        <th>Alt Başlık</th>
        <th>Alt Başlık 2</th>
        <th>GNO</th>
        <th>Tarih</th>
        <th>Düzenle</th>
    </tr>
    @foreach (var x in Model)
    {
    <tr>
        <td>@x.ID</td>
        <td>@x.BASLIK</td>
        <td>@x.ALTBASLIK1</td>
        <td>@x.ALTBASLIK2</td>
        <td>@x.GNO</td>
        <td>@x.TARIH</td>
        <td>
            <a href="/Egitim/EgitimSil/@x.ID" class="btn btn-danger btn-sm">
                <i class="fas fa-trash"></i>
                Sil
            </a>
            <a href="/Egitim/EgitimDuzenle/@x.ID" class="btn btn-primary btn-sm" style="margin-left:2px">
                <i class="fas fa-pencil-alt"></i>
                Düzenle
            </a>
        </td>
        
    </tr>
    }
</table>
<a href="/Egitim/EgitimEkle/" class="btn btn-primary">Yeni Eğitim Bilgisi Ekle</a>
